---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderSmall from "../../components/HeaderSmall.astro";
import CTAColor from "../../components/CTAColor.astro";
import flyWithUsCTA from "../../data/fly-with-us-cta";
import ProgramSwiper from "../../components/ProgramSwiper.astro";
import programsSwiper from "../../data/flight-training/programSwiper.js";
import PageSummary from "../../components/PageSummary.astro";
import ContentSplit from "../../components/ContentSplit.astro";
import TestimonialsSwiper from "../../components/TestimonialsSwiper.astro";
import Why from "../../components/Why.astro";
import FlightTrainingAdvantages from "../../components/FlightTrainingAdvantages.astro";
import GoogleMaps from "../../components/GoogleMaps.astro";

import pageData from "../../data/whyData.js";
import WhoAreUs from "../../components/WhoAreUs.astro";
import EducationalOrganizationSchema from "../../components/EducationalOrganizationSchema.astro";
import GoogleReviewsRow from "../../components/ElfSight/GoogleReviewsRow.astro";
---

<BaseLayout
  siteTitle={pageData.pageTitle}
  siteDescription={pageData.pageDescription}
  keywords={pageData.pageKeywords}
>
  <EducationalOrganizationSchema />

  <!-- HEADER -->
  <HeaderSmall content={pageData.header} />
  <PageSummary content={pageData.pageSummary} />
  <GoogleReviewsRow />
  <!-- <TestimonialsSwiper /> -->
  <!-- PAGE SUMMARY -->
  <FlightTrainingAdvantages content={pageData.advantagesInfo} />
  <WhoAreUs content={pageData.whoAreUs} />

  <!-- <Why /> -->
  <div id="info"></div>
  <ContentSplit content={pageData.contentSplit} />

  <section class="w-full flex flex-wrap overflow-hidden">
    <GoogleMaps data={pageData.gMaps[0]} />
  </section>

  <ProgramSwiper content={programsSwiper} />

  <CTAColor content={flyWithUsCTA} />
  <script src="../../scripts/creativeSwiper.js"></script>
</BaseLayout>
