---
import ImageComp from "./ImageComp.astro";

const { content } = Astro.props;
---

<section
  class="relative lg:mt-0 py-10 -z-0 bg-white text-white flex flex-col items-center justify-center overflow-hidden"
>
  {
    content.imagePath && (
      <ImageComp
        imagePath={content.imagePath}
        imageAlt={content.imageAlt}
        styles="absolute inset-0 -z-0 object-cover object-center w-full h-full animate-slow-zoom"
      />
    )
  }
  <div
    class="absolute bg-gradient-to-b from-white/60 to-white/70 w-full h-full z-0"
  >
  </div>
  <div
    class="text-white py-12 mt-20 lg:mt-0 text-left z-10 flex flex-col items-start gap-4 px-5 h-full w-full lg:pt-28 justify-center"
  >
    <h3
      class="text-4xl md:text-5xl lg:text-6xl text-left md:max-w-3xl lg:max-w-5xl lg:leading-[3.3rem] font-title font-black uppercase lg:tracking-tight text-primary-950"
      set:html={content.headerH1}
    />
    <p
      class="text-base lg:text-2xl mt-3 font-sans font-semibold tracking-wide text-gray-700 text-left max-w-6xl"
      set:html={content.paragraph}
    />
    <div
      class="mt-6 w-full flex flex-wrap justify-start align-middle items-center gap-6 z-10"
    >
      {
        content.buttons.map((btn) => (
          <a
            href={btn.link}
            class={`${btn.primary ? "btn-primary" : "btn-white"} w-full text-2xl md:w-auto`}
          >
            {btn.name}
          </a>
        ))
      }
    </div>
  </div>
</section>
