---
import { YouTube } from "astro-embed";
const { video, data } = Astro.props;
---

<div
  class="bg-white max-w-sm md:max-w-none flex flex-col lg:flex-row lg:justify-center items-center"
>
  <div
    class="flex flex-col-reverse w-full lg:flex-row py-12 lg:py-24 justify-center items-center gap-2 lg:gap-20 px-2 lg:px-8 max-w-7xl overflow-hidden"
  >
    <div class="flex-1 flex justify-center items-center w-full">
      <YouTube
        id={video.videoId}
        class="aspect-video w-full"
        params="start=0"
        posterQuality="max"
      />
    </div>

    <div class="flex-1 flex items-center">
      <div class="mx-auto space-y-8">
        <h2
          class="text-2xl md:text-5xl lg:text-6xl text-left md:max-w-3xl lg:max-w-5xl lg:leading-[3.3rem] font-title font-black uppercase lg:tracking-tight text-primary-950"
        >
          <Fragment set:html={data.headerH1} />
        </h2>
        <p
          class="text-4xl md:text-5xl font-semibold text-neutral-900 leading-tight"
        >
          <Fragment set:html={data.title} />
        </p>
        <p class="text-base md:text-xl text-black leading-relaxed">
          <Fragment set:html={data.paragraph} />
        </p>
        <div
          class="mt-6 w-full flex flex-wrap justify-start align-middle items-center gap-6 z-10"
        >
          {
            data.buttons.map((btn) => (
              <a
                href={btn.link}
                class={`${btn.primary ? "btn-primary" : "btn-white"} w-full text-2xl md:w-auto`}
              >
                {btn.name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
