---
import ProgramCard from "./ProgramCard.astro";

const { content } = Astro.props;
---

<section class="bg-neutral-900 pb-6 lg:pb-12">
  <div class="mx-auto max-w-9xl px-6 lg:px-8 py-6 lg:py-12">
    <div class="text-center">
      {
        content.upperHeading && (
          <h3 class="section-upper text-white">{content.upperHeading}</h3>
        )
      }
      {
        content.heading && (
          <h2 class="section-title text-primary-600">{content.heading}</h2>
        )
      }
      {
        content.heading && (
          <p class="section-description text-white/90">{content.description}</p>
        )
      }
    </div>
    <div class="mx-auto max-w-6xl">
      <ul role="list" class="flex flex-wrap justify-center gap-6">
        {
          content.cards.map((program) => (
            <ProgramCard
              style="w-full md:w-[45%]"
              title={program.title}
              imagePath={program.imagePath}
              imageAlt={program.imageAlt}
              link={program.link}
              linkText={program.linkText}
              description={program.description}
            />
          ))
        }
      </ul>
    </div>
  </div>
</section>
