---
import { FaCheck } from "react-icons/fa";
import ImageComp from "./ImageComp.astro";
const content = Astro.props.content || {};
const {
  title,
  upperheading,
  description,
  advantages,
  imagePath,
  imageAlt,
  descriptions,
  testimonials,
} = content;
---

<section class="py-16 lg:py-24 bg-white">
  <div class="w-full mx-auto max-w-7xl px-6 lg:px-8">
    <p
      class="text-lg font-bold text-primary-600 uppercase tracking-wide mb-4 text-center lg:text-left"
    >
      {upperheading}
    </p>
    <h2
      class="text-3xl lg:text-5xl font-bold text-neutral-800 mb-4 text-center lg:text-left"
    >
      {title}
    </h2>
    <p class="text-xl lg:text-3xl text-muted-800 mb-6 text-center lg:text-left">
      {description}
    </p>
  </div>

  <!-- Make the container equal height with min-h-screen -->
  <div
    class="mx-auto max-w-7xl px-6 lg:px-8 flex flex-col lg:flex-row items-stretch gap-12 min-h-screen"
  >
    <!-- Image Section (Left) -->
    <div class="w-full lg:w-1/2 flex">
      <ImageComp
        imagePath={imagePath}
        imageAlt={imageAlt}
        styles="w-full h-full object-cover object-top shadow-lg"
      />
    </div>

    <!-- Text Content (Right) -->
    <div class="w-full lg:w-1/2 flex flex-col justify-center py-12">
      <p
        class="text-lg font-bold text-primary-600 uppercase tracking-wide mb-4 text-center lg:text-left"
      >
        {descriptions.upperheading}
      </p>
      <h2
        class="text-3xl lg:text-4xl font-bold text-neutral-800 mb-4 text-center lg:text-left"
      >
        {descriptions.title}
      </h2>
      <p class="text-base text-muted-800 mb-6 text-center lg:text-left">
        {descriptions.description}
      </p>
      <ul class="space-y-4 text-center lg:text-left">
        {
          advantages.map((advantage, index) => (
            <li
              class="flex text-muted-600 items-start space-x-3"
              data-aos="fade-right"
              data-aos-delay={index * 100}
            >
              <span class="text-primary-600 text-2xl hidden lg:block lg:self-center px-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 640 512"
                >
                  <path
                    fill="currentColor"
                    d={
                      advantage.iconPath ||
                      "M320 32C150.1 32 8 174.1 8 344c0 169.9 142.1 312 312 312s312-142.1 312-312C632 174.1 489.9 32 320 32zm0 560c-136.9 0-248-111.1-248-248S183.1 96 320 96s248 111.1 248 248-111.1 248-248 248zm120-360H200c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h240c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24zm0 112H200c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h240c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24z"
                    }
                    stroke-width="13"
                    stroke="currentColor"
                  />
                </svg>
              </span>
              <div>
                <h3 class="text-lg font-semibold text-primary-600">
                  {advantage.title}
                </h3>
                <p>{advantage.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div>
    <section class="bg-white">
      <div class="container px-6 py-10 mx-auto">
        <div>
          <h1
            class="text-3xl lg:text-4xl font-bold text-neutral-800 mb-4 text-center lg:text-center"
          >
            What our clients are saying
          </h1>
        </div>
        <div class="mt-6 md:flex md:items-center md:justify-between">
          <section class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 lg:grid-cols-3">
            {
              testimonials &&
                testimonials.map((testimonial) => (
                  <div class="p-8 border text-center bg-primary-500">
                    <p class="leading-loose text-white  text-center">
                      {testimonial.description}
                    </p>

                    <div class="flex items-center justify-center mt-8 -mx-2">
                      <div class="mx-2">
                        <h1 class="font-semibold text-gray-800 text-white">
                          {testimonial.name}
                        </h1>
                        <span class="text-sm text-white ">Student</span>
                      </div>
                    </div>
                  </div>
                ))
            }
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
